{% extends "mainTheme/wrapper.html" %}
{% block content %}
<div>
  <H3>Privet!</H3>
  <p>
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quo ducimus, commodi libero dolorum esse quibusdam debitis autem veniam quia provident fugit odio eaque, labore aliquid numquam deleniti a repellendus.</span>
    <span>Odio, provident quod obcaecati mollitia, molestias deserunt nesciunt similique adipisci aliquid suscipit in fugiat rem magni nostrum reprehenderit quos omnis maiores ipsa. Sapiente incidunt eum recusandae amet molestias, quas quia.</span>
    <span>Repudiandae deleniti dolor illum quibusdam expedita, enim harum asperiores eius iusto illo, tempora assumenda a iure qui odit quo molestias placeat officiis! Deleniti ipsam eius cupiditate placeat nostrum nam, nobis!</span>
  </p>
</div>
{% include "mainTheme/includes/primer.html" %}
{% endblock %}
